*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.icon-cart{
    width: 60px;
    height: 60px;
    stroke: #000;

}
.icon-cart:hover{
    cursor: pointer;
}
.header-9{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;

    margin: 0 auto;
    max-width: 1370px;
    font-family: sans-serif;
    color: #4070f4;
    background-color: #fff;
  
}
.container-icon{
    position: relative;
}
.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.inf-cart-product{
    display: flex;
    justify-content: space-between; 
    flex: 0.8;

}
.titulo-producto-carrito{
    font-size: 20px;

}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;

}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;


}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
#contador-productos{
    font-size: 12px;
}
.cart-total h3 {
    font-weight: 700;
    font-size: 20px;
}
.total-pagar{
    font-weight: 900;
    font-size: 20px;
}
.hidden-cart{
    display: none;

}
.icon-close{
    width: 25px;
    height: 25px;
}
.icon-close:hover{
    stroke: red;
}
